
:root {

    --bg-theme: rgba(247, 159, 123, 255);
    --card-color: rgb(235, 235, 235);
}

 
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
/* FLEX CONTAINERS */
    
body {
    background-image: url(assets/background-image-2.jpg);
    background-size: cover;
}

.main-container {
    /* main container (wholesign up form + logo) */
    backdrop-filter: blur(25px);
    background-blend-mode: overlay;
    margin: 3rem; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ffffff7d;
}

.fname-container {
    /* sets logo and input (and label) as flex elements in row */
    display: flex;
    flex-direction: row;
}

form {
    /* setting form as flex container so that each input is a flex element */
    display: flex;
    flex-direction: column;
}

/* STYLING */

section {
    /* setting section as container for h3 and form */
    display: flex;
    flex-direction: column;
}

.intro-text{
    padding: 1rem 2.25rem 0rem 2.25rem;
}

img[alt="logo"] {
    padding: 0rem 2.25rem 1rem 2.25rem;
}


h3 {
    margin-bottom: 0.75rem;
    font-size: 20px;
    /* gives spacing to form */
}

label {
    /* hiding the label, using placeholder as label instead */
    display: none;
}

.fname-container input[type='text'],
.lname-container input[type="text"]{
    /* more code */
    /* setting up input box */
}


input {
    /* setting up input box */
    font-size: 16px;
    height: 2.75em;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--card-color);
    color: white;
    background-color: var(--bg-theme);
    padding: 10px;
    margin-bottom: 15px;

}

input::placeholder {
   font-size: 16px; 
   color: var(--card-color);
}

input:focus {
    outline-width: 0;
}

/* SECTIONS */

.theme-background    {
    color: white;
    background-color: var(--bg-theme);
    padding: 2.25rem;
    border-radius: 10px;
    margin: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

/* DESCRIPTION */
.intro-text>div {
    margin-bottom: 1rem;
}




/* BUTTON */


button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    padding: 15px 30px 15px 30px;
    width: 8em;
    border-radius: 5px;
    background-color: var(--bg-theme);
    font-weight: bolder;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.button-submit {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.login-text {
    font-weight: bold;
    color: var(--bg-theme)
}

a {
    text-decoration: none;
}


/* TITLE */

title {
    position: relative
}

.title {
    padding: 50px;
}

.title > h1 {
    color: var(--bg-theme)
}

.description {
    position: relative;
    font-size: 16px;
    bottom: 8px;
    font-weight: 100;
}

