
:root {

    --bg-theme: rgba(247, 159, 123, 255);
    --card-color: rgb(235, 235, 235);
}

 
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
/* MAIN CONTAINERS */

body {
    background-image: url(assets/background-image-2.jpg);
    background-size: cover;
}

.main-container {
    /* main container (wholesign up form + logo) */
    backdrop-filter: blur(25px);
    background-blend-mode: overlay;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ffffff7d;
    
}


section {
    /* setting section as container for h3 and form */
    display: flex;
    flex-direction: column;
}

/* LOGO SECTION */

h1 {
    font-size: 36px;
}

.logo-section{
    padding: 2.25rem;
}

img[alt="logo"] {
    /* padding: 0rem 2.25rem 1rem 2.25rem; */
    margin-bottom: 2rem;
}

h3 {
    font-size: 20px;
    /* gives spacing to form */
}

.flex-logo-container {
    display: flex;
    flex-direction: column;
}

.intro-text * {
    padding-bottom: .5rem;
}

title {
    position: relative
}



.title > h1 {
    color: var(--bg-theme)
}

.description {
    position: relative;
    font-size: 16px;
    bottom: 8px;
    font-weight: 100;
}

/* SIGN-UP SECTION */

.form-container    {
    color: white;
    background-color: var(--bg-theme);
    padding: 2.25rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.fname-container {
    /* sets logo and input (and label) as flex elements in row */
    display: flex;
    flex-direction: row;
}

form {
    /* setting form as flex container so that each input is a flex element */
    display: flex;
    flex-direction: column;
}

label {
    /* hiding the label, using placeholder as label instead */
    display: none;
}

input {
    /* setting up input box */
    font-size: 16px;
    height: 2.75em;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--card-color);
    color: white;
    background-color: var(--bg-theme);
    padding: 10px;
    margin-bottom: 15px;
    
}

input::placeholder {
    font-size: 16px; 
   color: var(--card-color);
}

input:focus {
    outline-width: 0;
}

.sign-up-section {
    display: flex;
    padding: 0rem 2.25rem 2.25rem 2.25rem;
    
}

/* BUTTON SECTION*/


button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    padding: 15px 30px 15px 30px;
    width: 8em;
    border-radius: 5px;
    background-color: var(--bg-theme);
    font-weight: bolder;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.button-submit {
}

.login-text {
    font-weight: bold;
    color: var(--bg-theme)
}

a {
    text-decoration: none;
}


.main-container {
    margin: 1rem;
}

@media only screen and (min-width: 700px) {
    
    html {
        height: 100vh;
        overflow: hidden;
    }

    body {
        display: flex;
        justify-content: center; 
        align-items: center;
        height: 100%;
        
    }
    .main-container {
        display: flex;
        max-width: 1000px;
        margin: 0
    }
    

    .section-container {
        flex-direction: column;
        flex: 0 0 auto;
    }

    form {
        width: 450px;
    }
    
    .intro-text {
        margin-bottom: 2rem;
    }
    
    .sign-up-section {
        padding: 2.25rem 2.25rem 2.25rem 0rem;
    }
    .logo-section {
        padding: 2.25rem 2.25rem 0rem 2.25rem;
    }

    body {
        position: relative;
    }
    
    .image-credit {
        position: absolute;
        bottom: -1px;
    }
}


.confirm-password-container {
    position: relative;
}

.error-message {
    font-size: 14px;
    color: red;
    font-weight: bold;
    position: absolute;
    left: 4px;
}

.image-credit {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}